<%= render 'shorten' %>
<div class="section center home">
	<div class="row container">
		<h6 class="api-box">Your personal public API Key is <%= @user.api_key %></h6>
	</div><br />
	<button class='btn waves-effect waves-light btn-medium brand-bg white-text regular-text clip_button' data-clipboard-text= <%= @user.api_key %>>
	Copy Key to Clipboard
	</button>
</div>
