<%= render 'shorten' %>
<div class = "middle">
<div class = "container-large shorten-pad">
	<div class="row">
		<div class="card center teal lighten-2 col s12 m12 l4 popular">
			<% max = 40 %>
			<h5 class="card-content">Popular Links</h5>
			<ul>
				<%= show_popular_links %>
			</ul>
		</div>
	</div>
</div>
</div>