$font-text: 'Lato', serif !important;
$font-size: 48px;
$shorten-background: #292929;
$chicken-image: "http://imageshack.com/a/img911/7117/rcaAoT.jpg";

html {
  font-family: $font-text;
  font-size: $font-size;
}

.row-break {
  height: 10em;
  width: 100%;
}

.shorten-body{
  height: 30em;
  width: 100%;
  background: $shorten-background;
  background-size: cover;
  background-image: url($chicken-image);
}

.url-box {
  background-color: black;
  font-size: 1.2em;
  padding-top: 0.3em;
  width: 85%;
  margin: auto;
  border-radius: 3%;
}

.shorten-pad {
  padding-top: 6em;
}

.container-large {
  padding-left: 3.5em;
  width: 90%;
  margin: auto;
}

.pre-footer {
  height: 32em;
  background: lighten(#bd5800, 40%);
}

.brand-bg {
  background: #00bcd4
}

.tri{
   background: $shorten-background;
}

.middle{
  background: white;
}

nav a:hover{
  color: #429687;
}

.footer {
  height: 15em;
  padding-top: 1em;
  background: #000
}

.before-middle {
  height: 7em;
}

.form-container {
  margin: 3em;
}

ul {
  display: inline;
}

.badge {
  border-radius: 10%;
  background: #000;
}

.pad-right{
  padding-right: 2em;
}

.card{
  bg-color: #000;
  padding: 0.7em;
}

.popular, .recent, .top {
  padding: 2em;
}

.api-box {
  border: 1px solid grey;
  border-radius: 5%;
  padding: 0.5em 0px;
  font-weight: bold;
}