<div class="footer valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 l4">
				<span class="white-text">Copyright &copy; Oduah Tobi</span><br />
				<!-- Facebook Badge START --><br /><a href="https://www.facebook.com/oduaht" title="Oduah Tobi" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/1427101351.1783.753998871.png" style="border: 0px;" alt="" /></a><!-- Facebook Badge END -->
			</div>
			<div class="col s12 l5">&nbsp;</div>
			<div class="col s12 l3">
				<span><%= link_to "GitHub", "https://github.com/andela-toduah/gobble", class: 'white-text' %></span><br />
				<iframe src="http://githubbadge.appspot.com/andela-toduah" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
			</div>
		</div>
	</div>
</div>
