<li class="card">
	<span class="badge white-text"><%= card_link[:badge] %></span><br/>
	<span title= <%= card_link[:full_url] %> class="card-content"><%= card_link[:compact_full_url] %></span><br/><br />
	<%= card_link[:link_to_url] %></br/>
</li>