<li class="card">
	<span class="badge white-text"><%= link.clicks_badge %></span><br/>
	<span title= <%= link.full_url %> class="card-content"><%= link.compact_full_url %></span><br/><br />
	<%= link.link_to_url %></br/>
</li>