<div class= "pre-footer valign-wrapper">
	<div class="container">
		<div class="section">
	<div class="row">
		<div class="col l4 center">
			<i class="large material-icons">trending_up</i>
			<h5>Don't just shorten. Explore!</h5>
			<p>View popular links, Explore recent links, Be a top Gobbler.</p>
		</div>
		<div class="col l4 center">
			<i class="large material-icons">verified_user</i>
			<h5>Quality Protection</h5>
			<p>Link Compromised? No need fretting. Log into your account, and just set inactive. All it takes is one click.</p>
		</div>
		<div class="col l4 center">
			<i class="large material-icons">flash_on</i>
			<h5>Speedy Delivery</h5>
			<p>Instant Redirection. No ADs. No waiting.</p>
		</div>
		</div>
	</div>
	</div>
</div>